<% if @restaurant.errors.any? %>
  <div class="red-text"> 
    <h3>Errors:</h3>
    <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>  
<% end %>



<%= form_for [@city, @restaurant] do |f| %>
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name %>

  <%= f.label :food_type, 'Type' %>
  <%= f.select :food_type, Restaurant.food_types %>

  <%= f.label :cost_rating, 'Cost' %>
  <%= f.text_field :cost_rating %>
  
  <%= f.label :open %>
  <%= f.check_box :open %>

  <%= f.label :take_out %>
  <%= f.check_box :take_out %>

  <%= f.label :alcohol %>
  <%= f.check_box :alcohol %>

  <br />
  <%= f.submit 'Save' %>
<% end %>
